<div id="wrapper" class="wrapper">
  <h1 class="plannerTitle">
    <img id="tomato-icon" src="/favicon-32x32.png" alt="tomato-icon" />
    Pomodoro Planner
  </h1>
  <p class="instruction">
    Make a pomodoro set(4 tasks). <br />
    Each task will be followed by a 5-minute break. <br />
    A 20-minute break will be added after a set.<br />
    Make more sets if you want. <br />
    You can duplicate your current set(s) to the end of the list <br />
    by clicking on 'Duplicate the pomodoro set' button.
  </p>
</div>
