<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>

  <body>
    <% if (options.length > 0) { %> <% options.forEach((each) => { %>
    <p>
      Title: <%= each.title %> <br />
      Content: <%= each.content %>
    </p>
    <% }); %> <% } else { %>
    <p>No feedback submitted</p>
    <% } %>
  </body>
</html>
