<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Planner</title>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Victor+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link
      rel="/images/apple-touch-icon"
      sizes="180x180"
      href="./images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicon-16x16.png"
    />
    <link rel="manifest" href="./images/site.webmanifest" />
  </head>

  <body>
    <div id="wrapper" class="wrapper">
      <h1 class="plannerTitle">
        <img id="tomato-icon" src="/favicon-32x32.png" alt="tomato-icon" />
        Pomodoro Planner for <%= h1 %>
      </h1>
    </div>
  </body>
</html>
